.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    border-radius: 100em;
    margin-right: .5em;
    border: .15em solid white;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover+label::before {
    background-color: rgb(255, 146, 44);
}

.checkbox-container input[type='checkbox']:checked+label::before {
    background-color: rgb(255 92 0);
}