@font-face {
  font-family: 'Montserrat-Thin';
  src: local('Montserrat-Thin'),
    url('./fonts/Montserrat/Montserrat-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'),
    url('./fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
}

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  height: 100%;
  background: #1a1a1a;
}

.app-header {
  color: white;
  font-family: 'Montserrat-Thin';
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.submit-form-add-todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-ip {
  background: #2f2f2f;
  border: 0px solid gray;
  border-radius: 10px;
  height: 3rem;
  width: 40rem;
  margin: 20px;
  color: white;
  font-family: Montserrat;
  padding-left: 10px;
}

.signupIP {
  background: #2f2f2f;
  border: 0px solid gray;
  border-radius: 10px;
  height: 3rem;
  width: 30rem;
  margin: 20px;
  margin-top: 10px;
  color: white;
  font-family: Montserrat;
  padding-left: 10px;
}

.todo-ip:focus-visible {
  outline: 0px solid gray !important;
}

.signupIP.signupIP-pwd{
  -webkit-text-security: disc;
}


.signupIP:focus-visible {
  outline: 0px solid gray !important;
}

.todo-submitB {
  background: #ff5c00;
  color: #1a1a1a;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 26px;
  font-weight: 500;
  width: 50px;
  height: 50px;
}

.todo-heading {
  color: white;
  font-size: 2rem;
  font-family: Montserrat-Bold;
}

.todo-text{
  font-family: 'Montserrat';
}

.todos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin: auto;
}