.main-landing-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.hero-text-container {
    display: grid;
    padding-left: 1em;
}

.main-landing-container::before {
    content: '';
    width: 25em;
    height: 25em;
    background-image: radial-gradient(closest-side, #FF0035, transparent);
    margin-left: -13em;
    opacity: 0.8;
    margin-bottom: 11em;
    position: absolute;
    z-index: -1;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    width: min-content;
    line-height: 1em;
    font-size: 6em;
}

.hero-subtext {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.2em;
}

.hero-todo-vector {
    width: 26em;
    height: 26em;
    margin-right: 1em;
    border-radius: 2em;
    -webkit-backdrop-filter: saturate(160%) blur(32px);
    backdrop-filter: saturate(160%) blur(32px);
    border: double 0.12em transparent;
    background-image: linear-gradient(127deg, #3a3954, #38263e), linear-gradient(321deg, #9503a4, #5ea8ac);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-todo-vector::before {
    content: '';
    width: 30em;
    height: 30em;
    background-image: radial-gradient(closest-side, #A100DC, transparent);
    margin-top: 25em;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    margin-left: 28em;
}

.hero-todo-vector-container {
    font-family:"Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.hero-todo-vector-container-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-todo-vector-container-header {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.hero-todo-vector-container-header-line {
    border: .1em solid #d8d8d8;
    width: 100%;
    margin-top: 10px;
}